@model IEnumerable<WebApp.domain.DHellman>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
